@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url(../img/morphing-diamonds.svg);
    font-family: 'Merriweather', serif;
}